build/
cmake-build-*/

*.swp
*.swo
*.bak
*.tmp
*.~*

.idea/
.vscode/
*.iml

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.o
*.obj
*.so
*.a
*.out
*.exe
*.dll
zdhpctl  # Ваш исполняемый файл

*.log
*.DS_Store
Thumbs.db
